<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.record.diet.dao.DietMapper">

    <!-- dietRow --> 

    <insert id="dietInsert" parameterType="com.multipjt.multi_pjt.record.diet.domain.DietRequestDTO">
        insert into DietRecords(meal_type,member_id)
        values(#{mealType},#{memberId});
    </insert>



    <!-- itemRow --> 

    <insert id="itemInsert" parameterType="com.multipjt.multi_pjt.record.diet.domain.ItemRequestDTO">
        insert into DietItems(item_name,quantity,carbs,protein,fat,calories,diet_id)
        values(#{itemName},#{quantity},#{carbs},#{protein},#{fat},#{calories},#{dietId}); 
    </insert>    

    <!-- findDietNumber --> 

    <select id="findDietNumber" parameterType="com.multipjt.multi_pjt.record.diet.domain.DietRequestDTO" resultType="java.lang.Long">
        select diet_id from DietRecords
        where member_id = #{memberId} and record_date = #{recordDate} and meal_type = #{mealType}
    </select>

    <!-- dietDelete --> 

    <delete id="dietDelete" parameterType="java.lang.Long">
        delete from DietRecords
        where diet_id = #{dietId};
    </delete>

    <!-- itemDelete --> 

    <delete id="itemDelete" parameterType="java.lang.Long">
        delete from DietItems
        where item_id = #{itemId};
    </delete>    

    <!-- itemFindAll --> 

    <select id="itemFindAll" parameterType="java.lang.Long" resultType="com.multipjt.multi_pjt.record.diet.domain.ItemResponseDTO">
        select item_id, item_name, quantity, carbs, protein, fat, calories, diet_id 
        from DietItems
        where diet_id = #{dietId};
    </select>
    
</mapper>