<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.record.exercise.dao.ExerMapper">


    <!-- exerInsert --> 

    <insert id="exerInsert" parameterType="com.multipjt.multi_pjt.record.exercise.domain.ExerRequestDTO">
        insert into ExerciseRecords(exercise_type, intensity, member_id, duration)
        values(#{exerciseType},#{intensity},#{memberId},#{duration});
    </insert>

    <!-- exerDelete --> 

    <delete id="exerDelete" parameterType="java.lang.Long">
        delete from ExerciseRecords
        where exercise_id = #{exerciseId};
    </delete>

    <!-- exerIdGet --> 

    <select id="exerIdGet" parameterType="java.util.Map">
        select exercise_id from ExerciseRecords
        where exercise_type = #{exerciseType} and record_date = #{recordDate} and member_id = #{memberId};
    </select>    

    <!-- exerUpdate --> 

    <update id="exerUpdate" parameterType="java.util.Map">
        update ExerciseRecords
        set intensity = #{intensity}
        where exercise_id = #{exerciseId};
    </update>

    <!-- exerDaySelect --> 

    <select id="exerDaySelect" parameterType="java.util.Map" resultType="com.multipjt.multi_pjt.record.exercise.domain.ExerResponseDTO">
        select * from ExerciseRecords
        where member_id = #{memberId} and record_date = #{recordDate};
    </select>
</mapper>