<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.record.exercise.dao.ExerMapper">

    <!-- exerInsert --> 

    <insert id="exerInsert" parameterType="com.multipjt.multi_pjt.record.exercise.domain.ExerRequestDTO">
        <selectKey keyProperty="exercise_id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ExerciseRecords(exercise_type, intensity, member_id, duration, calories, met)
        values(#{exercise_type}, #{intensity}, #{member_id}, #{duration}, #{calories}, #{met});
    </insert>

    <!-- exerDelete --> 

    <delete id="exerDelete" parameterType="java.lang.Integer">
        delete from ExerciseRecords
        where exercise_id = #{exercise_id};
    </delete>

    <!-- exerIdGet --> 

    <select id="exerGet" parameterType="java.lang.Integer" resultType="com.multipjt.multi_pjt.record.exercise.domain.ExerResponseDTO">
        select * from ExerciseRecords
        where exercise_id = #{exercise_id};
    </select>    

    <!-- exerUpdate --> 

    <update id="exerUpdate" parameterType="java.util.Map">
        update ExerciseRecords
        set intensity = #{intensity}, duration = #{duration}, calories = #{calories}
        where exercise_id = #{exercise_id};
    </update>

    <!-- exerDaySelect --> 

    <select id="exerDaySelect" parameterType="java.util.Map" resultType="com.multipjt.multi_pjt.record.exercise.domain.ExerResponseDTO">
        select * from ExerciseRecords
        where member_id = #{member_id} and record_date = #{record_date};
    </select>


    <!-- setInsert --> 

    <insert id="setInsert" parameterType="com.multipjt.multi_pjt.record.exercise.domain.SetRequestDTO">
        insert into ExerciseSet(distance,weight,repetitions,exercise_id)
        values(#{distance},#{weight},#{repetitions},#{exercise_id});
    </insert>

    <select id="getSetInfo" parameterType="java.lang.Integer" resultType="com.multipjt.multi_pjt.record.exercise.domain.SetResponseDTO">
        select * from ExerciseSet
        where exercise_id = #{exercise_id}    
    </select>

    <!-- setUpdate --> 

    <update id="setUpdate" parameterType="java.util.Map">
        update ExerciseSet
        set distance = #{distance} , weight = #{weight} , repetitions = #{repetitions}
        where set_id = #{set_id};
    </update>

    <!-- setDelete --> 

    <delete id="setDelete" parameterType="java.lang.Integer">
        delete from ExerciseSet
        where set_id = #{set_id};
    </delete>
    
    <!-- exerCaloriesGet --> 

    <select id="exerCaloriesGet" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT 
            exercise_type,
            SUM(calories) AS totalCalories
        FROM 
            ExerciseRecords
        WHERE 
            record_date = #{record_date}  
            AND member_id = #{member_id}
        GROUP BY 
            exercise_type;
    </select>

    <!-- metGet --> 

    <select id="metGet" parameterType="java.lang.String" resultType="java.util.Map">
        select exercise_met, intensity from ExerciseMet
        where exercise_name = #{exercise_name};
    </select>

    <!-- getMemberInfo --> 

    <select id="getMemberInfo" parameterType="java.lang.Integer" resultType="java.lang.Double">
        select profile_weight 
        from UserProfile 
        where member_id = #{member_id};
    </select>

    <!-- getMonthExer --> 

    <select id="getMonthExer" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DATE_FORMAT(record_date, '%Y-%m-%d') as record_date
        , SUM(calories) as totalCalories
        FROM ExerciseRecords
        WHERE member_id = #{member_id}
        AND YEAR(record_date) = #{year}
        AND MONTH(record_date) = #{month}
        GROUP BY record_date
        ORDER BY record_date ASC;
    </select>    
</mapper>