<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.crew.dao.crew.CrewMapper">

    <!-- 크루 생성 --> 

    <insert id="createCrewRow"
            parameterType="com.multipjt.multi_pjt.crew.domain.crew.CrewRequestDTO">
        INSERT INTO Crew(
            crew_id,
            member_id,
            crew_name,
            crew_goal,
            crew_title,
            crew_location,
            crew_sport,
            crew_gender,
            crew_frequency,
            crew_age,
            crew_date
        ) VALUES (
            #{crew_id},
            #{member_id},
            #{crew_name},
            #{crew_goal},
            #{crew_title},
            #{crew_location},
            #{crew_sport},
            #{crew_gender},
            #{crew_frequency},
            #{crew_age},
            #{crew_date}
            );
    </insert>

    <!-- 전체 크루 리스트 조회 --> 

    <select id="selectCrewRow"
            resultType="com.multipjt.multi_pjt.crew.domain.crew.CrewResponseDTO">
        SELECT *
        FROM Crew
    </select>    

    <!-- 특정 크루 리스트 조회 (종목) --> 

    <select id="selectCrewSportRow"
            resultType="com.multipjt.multi_pjt.crew.domain.crew.CrewResponseDTO">
        SELECT *
        FROM Crew
        WHERE crew_sport = #{crew_sport};
    </select>

    <!-- 특정 크루 정보 조회  -->

    <select id="selectCrewInfoRow"
            parameterType="java.util.HashMap"
            resultType="com.multipjt.multi_pjt.crew.domain.crew.CrewResponseDTO">
        SELECT *
        FROM Crew
        WHERE crew_id = #{crew_id};
    </select>
</mapper>