<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.crew.dao.CrewMapper">

    <!-- saveCrewBattleRow --> 

    <insert id="saveCrewBattleRow"
            parameterType="com.multipjt.multi_pjt.crew.domain.battle.CrewBattleRequestDTO">
        INSERT INTO CrewBattle(battle_id, battle_name, battle_goal, battle_end_recruitment, battle_end_date, battle_content, battle_state, crew_id)
        VALUES(#{battle_id}, #{battle_name}, #{battle_goal}, #{battle_end_recruitment}, #{battle_end_date}, #{battle_content}, #{battle_state}, #{crew_id})
    </insert>
    
</mapper>