<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.community.dao.PostMapper">

    <!-- 게시물 등록 -->
    <insert id="postInsert"  parameterType="com.multipjt.multi_pjt.community.domain.posts.PostRequestDTO">
        INSERT INTO Posts (
            post_title,
            post_contents,
            post_sport,
            post_sports_keyword,
            member_id
            <if test="post_hashtag != null and post_hashtag != ''">
                , post_hashtag
            </if>
            <if test="post_img1 != null and post_img1 != ''">
                , post_img1
            </if>
            <if test="post_img2 != null and post_img2 != ''">
                , post_img2
            </if>
          
        ) VALUES (
            #{post_title},
            #{post_contents},
            #{post_sport},
            #{post_sports_keyword},
            #{member_id}
            <if test="post_hashtag != null and post_hashtag != ''">
                , #{post_hashtag}
            </if>
            <if test="post_img1 != null and post_img1 != ''">
                , #{post_img1}
            </if>
            <if test="post_img2 != null and post_img2 != ''">
                , #{post_img2}
            </if>
        );
    </insert>

    <!-- 게시글 member_id로 조회 -->
    <select id ="getMemberById" parameterType="int"  resultType="com.multipjt.multi_pjt.community.domain.posts.PostResponseDTO">
        SELECT * 
        FROM Posts 
        WHERE member_id= #{member_id}
    </select>

    <!-- 게시글 수정 -->
    <update id="postUpdate" parameterType="com.multipjt.multi_pjt.community.domain.posts.PostRequestDTO" >  
        UPDATE Posts
        SET  
            <if test="post_title != null and post_title != ''">
                post_title = #{post_title}
            </if>
            <if test="post_img2 != null and post_img2 != ''">
                , post_contents = #{post_contents}
            </if>
            <if test="post_title != null and post_title != ''">
                , post_sport = #{post_sport}
            </if>
            <if test="post_img2 != null and post_img2 != ''">
                , post_sports_keyword = #{post_sports_keyword}
            </if>
            <if test="post_title != null and post_title != ''">
                , post_img1 = #{post_img1}
            </if>
            <if test="post_img2 != null and post_img2 != ''">
                , post_img2 = #{post_img2}
            </if>
             <if test="post_img2 != null and post_img2 != ''">
                , post_hashtag = #{post_hashtag}
            </if>
            , post_modify_date = now()
        WHERE
            post_id = #{post_id} 
            AND    member_id = #{member_id} 
    </update>

    <!-- post_id로 게시글 조회 -->
    <select id ="getPostById" parameterType="int"  resultType="com.multipjt.multi_pjt.community.domain.posts.PostResponseDTO">
        SELECT * 
        FROM Posts 
        WHERE post_id= #{post_id}
    </select>

    <!-- 운동 종목 별 게시글 조회 -->
    <select id="postSelectSport" parameterType="String" resultType="com.multipjt.multi_pjt.community.domain.posts.PostResponseDTO">
        SELECT 
            p.post_id,
            post_title,
            post_contents,
            post_sport,
            post_sports_keyword,
            post_like_counts,
            post_views,
            post_date,
            p.member_id,
            m.nickname,
            COUNT(c.comments_id) AS comment_count
        FROM
            Posts p
        INNER JOIN
            Member m
        ON
            p.member_id = m.member_id
        LEFT JOIN
            Comments c 
        ON 
            p.post_id = c.post_id
        WHERE
            post_sport = #{post_sport}
        GROUP BY
            p.post_id    
    </select>

    <!-- 게시글 검색  제목/내용/해시태그 -->
    <select id="postSelectTCH" parameterType="String" resultType="com.multipjt.multi_pjt.community.domain.posts.PostResponseDTO">
        SELECT 
            p.post_id,
            post_title,
            post_contents,
            post_sport,
            post_sports_keyword,
            post_like_counts,
            post_views,
            p.member_id,
            m.nickname,
            post_date,
            COUNT(c.comments_id) AS comment_count
        FROM
            Posts p
        INNER JOIN
            Member m
        ON
            p.member_id = m.member_id
        LEFT JOIN
            Comments c 
        ON 
            p.post_id = c.post_id
        WHERE
            post_title LIKE CONCAT( '%', #{keyword}, '%' )
            OR
            post_contents LIKE CONCAT( '%', #{keyword}, '%' )
            OR
            post_hashtag LIKE CONCAT( '%', #{keyword}, '%' )
        GROUP BY
            p.post_id 
    </select>
    
</mapper>