<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.community.dao.UserActivityMapper">

   

   <!-- 좋아요가 테이블에 있나 확인 EXISTS - boolean 값 반환-->
   <select id="commitLike" parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO" resultType="Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM UserActivity
            WHERE post_id = #{post_id}
            AND member_id = #{member_id}
        ) As existsLike
    </select>

    <!-- 좋아요 테이블에 넣기 -->
    <insert id="likeACInsert" parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO" >
        INSERT INTO UserActivity (user_activity,  post_id, member_id)
        VALUES(#{user_activity}, #{post_id}, #{member_id});
    </insert>

    <!-- 좋아요 테이블에서 삭제 -->
    <delete id="likeACDelete"   parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO">
        DELETE FROM UserActivity
        WHERE 
            post_id = #{post_id}
        AND 
            member_id = #{member_id}
    </delete>

    <!-- 좋아요 수 가져오기 -->
    <select id="likeCount" parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO">
        SELECT post_like_counts 
        FROM Posts
        WHERE 
            post_id = #{post_id}
    </select>

    <!-- 좋아요 +1 -->
    <update id="postLikeCountAdd" parameterType="com.multipjt.multi_pjt.community.domain.posts.PostRequestDTO">
        UPDATE Posts
        SET 
            post_like_counts = #{post_like_counts}
        WHERE
            post_id = #{post_id}

    </update>
    <!-- 좋아요 -1 -->
   <update id="postLikeCountMinus" parameterType="com.multipjt.multi_pjt.community.domain.posts.PostRequestDTO">
        UPDATE Posts
        SET 
            post_like_counts = #{post_like_counts}
        WHERE
            post_id = #{post_id}

    </update>

    <!-- 조회수 수 가져오기 -->
    <select id="viewCount" parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO">
        SELECT post_views 
        FROM Posts
        WHERE 
            post_id = #{post_id}
    </select>

    <!-- 조회수 +1 -->
    <update id="postViewCountAdd" parameterType="com.multipjt.multi_pjt.community.domain.posts.PostRequestDTO">
        UPDATE Posts
        SET 
            post_views = #{post_views}
        WHERE
            post_id = #{post_id}
    </update>



    <!-- 조회 테이블에 넣기 -->
    <insert id="postViewInsert" parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO" >
        INSERT INTO UserActivity (user_activity,  post_id, member_id)
        VALUES(#{user_activity}, #{post_id}, #{member_id});
    </insert>

    <!-- 조회 Insert EXISTS - boolean 값 반환-->
    <select id="commitView" parameterType="com.multipjt.multi_pjt.community.domain.UserActivity.UserActivityRequestDTO" resultType="Boolean">
        SELECT EXISTS (
            SELECT 1
            FROM UserActivity
            WHERE post_id = #{post_id}
            AND member_id = #{member_id}
        ) As existsView
    </select>


</mapper>