<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multipjt.multi_pjt.badge.dao.CrewBadgeMapper">
 <!-- CrewBadgeMapper -->

    <insert id="insertBadge" parameterType="com.multipjt.multi_pjt.badge.domain.badge.CrewBadgeRequestDTO">
        INSERT INTO CrewBadge (
            crew_badge_id,
            crew_current_points,
            badge_level,
            member_id,
            crew_battle_wins
        ) VALUES (
            #{crew_badge_id},
            #{crew_current_points},
            #{badge_level},
            #{member_id},
            #{crew_battle_wins}
        );
    </insert>

    <select id="selectCrewBadgeByMemberId" resultType="com.multipjt.multi_pjt.badge.domain.badge.CrewBadgeResponseDTO">
        SELECT *
        FROM CrewBadge
        WHERE member_id = #{memberId};
    </select>

    <!-- 특정 회원의 배틀 승수 합산 조회 -->
    <select id="selectTotalBattleWinsByMemberId" resultType="int">
        SELECT SUM(battle_wins) 
        FROM CrewMember 
        WHERE member_id = #{memberId}
        GROUP BY member_id
        HAVING SUM(battle_wins) > 0
    </select>

    <!-- 뱃지 업데이트 쿼리 추가 -->
    <update id="updateBadge" parameterType="com.multipjt.multi_pjt.badge.domain.badge.CrewBadgeRequestDTO">
        UPDATE CrewBadge
        SET crew_current_points = #{crew_current_points},
            badge_level = #{badge_level}
        WHERE crew_badge_id = #{crew_badge_id};
    </update>

    <select id="selectNewBattleWinsByMemberId" resultType="int">
        SELECT 
            COALESCE(SUM(cm.battle_wins), 0) - COALESCE(cb.crew_battle_wins, 0) AS newWins
        FROM CrewMember cm
        LEFT JOIN CrewBadge cb ON cm.member_id = cb.member_id
        WHERE cm.member_id = #{memberId}
        GROUP BY cm.member_id;
    </select>

    <update id="updateCrewBattleWins" parameterType="map">
       UPDATE CrewBadge
       SET crew_battle_wins = (
           SELECT COALESCE(SUM(battle_wins), 0) 
           FROM CrewMember 
           WHERE member_id = #{memberId}
    )
        WHERE member_id = #{memberId};
    </update>


</mapper>