<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 활동 기록 매퍼 --> 
<mapper namespace="com.multipjt.multi_pjt.badge.dao.UserActivityRecordMapper">
   <insert id="insertActivityAndUpdatePoints" parameterType="map">
       CALL AddActivityAndUpdatePoints(#{activityType}, #{memberId});
   </insert>

   
<update id="updateMemberBadgePoints" parameterType="Long">
    UPDATE MemberBadge
    SET current_points = current_points + 0.5
    WHERE member_id = #{value};
</update>

<select id="getActivitiesFromPosts" parameterType="Long" resultType="com.multipjt.multi_pjt.badge.domain.record.UserActivityRecordResponseDTO">
    SELECT 'post' AS activityType, 0.5 AS points, post_date AS createdDate
    FROM Posts
    WHERE member_id = #{value}
</select>

<select id="getActivitiesFromComments" parameterType="Long" resultType="com.multipjt.multi_pjt.badge.domain.record.UserActivityRecordResponseDTO">
    SELECT 'comment' AS activityType, 0.5 AS points, comments_date AS createdDate
    FROM Comments
    WHERE member_id = #{value}
</select>

<select id="getActivitiesFromExercises" parameterType="Long" resultType="com.multipjt.multi_pjt.badge.domain.record.UserActivityRecordResponseDTO">
    SELECT 'exercise' AS activityType, 
           0.5 AS points,  
           record_date AS createdDate
    FROM ExerciseRecords
    WHERE member_id = #{value}
</select>

<select id="getActivitiesFromDiets" parameterType="Long" resultType="com.multipjt.multi_pjt.badge.domain.record.UserActivityRecordResponseDTO">
    SELECT 'diet' AS activityType, 
           0.5 AS points,  
           record_date AS createdDate
    FROM DietRecords
    WHERE member_id = #{value}
</select>

<select id="getTotalPointsByMemberId" parameterType="Long" resultType="java.math.BigDecimal">
    SELECT COALESCE(SUM(points), 0) FROM UserActivityRecord WHERE member_id = #{memberId};
</select>

<select id="getActivitiesByMemberId" parameterType="Long" resultMap="UserActivityRecordResponseDTOMap">
    SELECT * FROM UserActivityRecord WHERE member_id = #{memberId}
</select>

<resultMap id="UserActivityRecordResponseDTOMap" type="com.multipjt.multi_pjt.badge.domain.record.UserActivityRecordResponseDTO">
    <result property="recordId" column="record_id"/>
    <result property="activityType" column="activity_type"/>
    <result property="points" column="points"/>
    <result property="createdDate" column="created_date"/>
    <result property="memberId" column="member_id"/>
</resultMap>


</mapper>